DATABASE_URL=postgres://rflow:rflow@localhost:5432/rflow
POSTGRES_USER=rflow
POSTGRES_PASSWORD=rflow
POSTGRES_DB=rflow
DATA_DIR=./data
RSCRIPT_PATH=/usr/bin/Rscript
RUST_LOG=info,rflow_api=debug
LISTEN_ADDR=0.0.0.0:4001
ADMIN_USERNAME=admin
ADMIN_PASSWORD=changeme
